@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: "Ubuntu";
  color: red;
  /* background: url(./pitayaq21.jpg); */
}
